<!DOCTYPE html>
<html>
<head>
    <title>Resultados de Producción</title>
  
</head>
<body class="produccion-page">
    <div class="container">
        <h1>Resultados de Producción</h1>
        <div class="result">
            <p><strong>Horas de Producción:</strong> {{ horas_produccion }}</p>
            <p><strong>Tasa de Producción:</strong> {{ tasa_produccion }}</p>
            <p><strong>Target:</strong> {{ target }}</p>
            <p><strong>Costos Fijos:</strong> {{ costos_fijos }}</p>
            <p><strong>Costos Variables:</strong> {{ costos_variables }}</p>
        </div>
        <a href="/produccion/">Volver al formulario</a>
    </div>
</body>
</html>